/* stylesheet for GUI */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

/* ----------------STYLE CHANGES NECCESSARY FOR CHANGING FROM TERMINAL TO GUI ------------- */


#header-dark{
    display: none;
}

#header-light{
    display: none;
}

.user{
    display: none;
}

.location{
    display: none;
}

.lightmode{
    display: none;
}

.darkmode{
    display: none;
}

#input-form{
    display: none;
}

#error1{
    display: none;
}

#input{
    display: none;
}

#introMessage{
    display: none;
}

.navbar-dark-mode{
    display: none;
}

.terminal-call-to-action{
    display: none;
}

/* ----------------GENERAL ------------- */

html,body{
 
    font-family: 'Noto Sans', sans-serif;
    width: 100vw;
    max-height: 100vh;
    overflow-y: hidden;
    
}
  
body{
    background-color: whitesmoke;
    color: black;
    overflow-y: hidden;
    white-space: nowrap;
    margin: 0;
    
    
    
  
}

main{
    height: 100vh;
    width: 100%;

}


div{
    display: inline-block;
    
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    
  
  

    
  
}

p{
    width: inherit;
    word-wrap: break-word;
    white-space: pre-wrap;
}

/* ----------------NAVBAR ------------- */

#gui-nav{
    height: 100%;
    /* min-width:; 1vw */
    float: left;
    writing-mode: tb-rl;
    transform: rotate(-180deg);
    text-align: start;
    position: fixed;
    
    
    
}

#gui-nav a{
    color: white;
    margin-top: 2%;
    margin-bottom: 2%;
    
}

.first-navbar-element{
    margin-top: 15% !important;
}

/* for moving navbar */
.nav-colored { 
   
    background: rgba(255, 255, 255, 0.32);
    /* border-radius: 16px; */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.4px);
    -webkit-backdrop-filter: blur(6.4px);
    /* border: 1px solid rgba(255, 255, 255, 0.3); */
}

.nav-colored a{
    color: #2834c5 !important;
}


@media only screen and (max-width:768px){
    /* #gui-nav{
        height: 1%;
    } */
    .first-navbar-element{
        margin-top: 10% !important;
    }
}

/* ----------------HEADER ------------- */



#intro-gui{
    background-image: url(../images/background.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    


}

#intro-gui header{
    margin-top: 50vh;
    text-align: center;
    color: white;
}

#intro-gui h1{
    font-size: 5rem;
    text-transform: uppercase;
    margin-bottom: 0%;

}

#intro-gui h2{
    font-size: 1,5rem;
    font-style: italic;
    margin-top: 0%;
    text-transform:capitalize;
}

.header-directions{
    text-align: right;
    margin-right: 2%;
    color: white;
    font-style: italic;
    margin-top: 25vh;

}

.header-directions a{
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 1rem;
}

.header-directions-arrow{
    filter: invert(1);
    top: 6px;
    bottom: 0px;
    position: relative;
}


@media only screen and (max-width:768px){
    #intro-gui h1{
        font-size: 3rem;
    }
    #intro-gui h2{
        font-size: 1rem;
    }

    .header-directions{
        margin-top: 45%;
        
    }
}


/* ----------------ABOUT ------------- */

.about{
    margin-left: 5%;
    margin-right: 5%;
    display: inline-block;
  
    
}

.about-image{
    height: auto;
    width: 60%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 15%;
    
}

.about figcaption{
    text-align: center;
    font-style: italic;
}

.about-column-left{
    display: inline-block;
    width: 50%;
    height: 100%;
    vertical-align: top;
    
}

.about-column-right{
    display: inline-block;
    width: 50%;
    height: 100%;
    vertical-align: top;
    
}

.about-header{
    font-size: 4rem;
    color:#2834c5;
    margin-top: 15%;

}

.about p{
    width: 90%;
    text-align: justify;
}

@media only screen and (max-width:768px){
    .about-column-left{
        display: block;
        width: 100%;
    }
    .about-column-right{
        display: block;
        width: 100%;
    }
}


/* ----------------PROJECTS ------------- */

.projects{
    background-color: #5661e6;
}