/* stylesheet for GUI */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

/* ----------------STYLE CHANGES NECCESSARY FOR CHANGING FROM TERMINAL TO GUI ------------- */


#header-dark{
    display: none;
}

#header-light{
    display: none;
}

.user{
    display: none;
}

.location{
    display: none;
}

.lightmode{
    display: none;
}

.darkmode{
    display: none;
}

#input-form{
    display: none;
}

#error1{
    display: none;
}

#input{
    display: none;
}

#introMessage{
    display: none;
}

.navbar-dark-mode{
    display: none;
}

.terminal-call-to-action{
    display: none;
}

.header-light-mode{
    display: none;
}

/* ----------------GENERAL ------------- */

html,body{
 
    font-family: 'Noto Sans', sans-serif;
    width: 100vw;
    max-height: 100vh;
    overflow-y: hidden;
    
}
  
body{
    background-color: whitesmoke;
    color: black;
    overflow-y: hidden;
    white-space: nowrap;
    margin: 0;
    
    
    
  
}

main{
    height: 100vh;
    width: 100%;

}


div{
    display: inline-block;
    
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    
  
  

    
  
}

p{
    width: inherit;
    word-wrap: break-word;
    white-space: pre-wrap;
}

/* ----------------NAVBAR ------------- */

#gui-nav{
    height: 100%;
    /* min-width:; 1vw */
    float: left;
    writing-mode: tb-rl;
    transform: rotate(-180deg);
    text-align: start;
    position: fixed;
    
    
    
}

#gui-nav a{
    color: white;
    margin-top: 2%;
    margin-bottom: 2%;
    
}

.first-navbar-element{
    margin-top: 15% !important;
}

/* for moving navbar */
.nav-colored { 
   
    background: rgba(255, 255, 255, 0.32);
    /* border-radius: 16px; */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.4px);
    -webkit-backdrop-filter: blur(6.4px);
    /* border: 1px solid rgba(255, 255, 255, 0.3); */
}

.nav-colored a{
    color: #2834c5 !important;
}


@media only screen and (max-width:768px){
    /* #gui-nav{
        height: 1%;
    } */
    .first-navbar-element{
        margin-top: 10% !important;
    }
}

/* ----------------HEADER ------------- */



#intro-gui{
    background-image: url(../images/background.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    /* position: fixed; */
    /* display: inline-block; */
    position: relative;
    


}

#intro-gui header{
    margin-top: 50vh;
    text-align: center;
    color: white;
}

#intro-gui h1{
    font-size: 5rem;
    text-transform: uppercase;
    margin-bottom: 0%;

}

#intro-gui h2{
    font-size: 1,5rem;
    font-style: italic;
    margin-top: 0%;
    text-transform:capitalize;
}

.header-directions{
    text-align: right;
    margin-right: 2%;
    color: white;
    font-style: italic;
    margin-top: 25vh;

}

.header-directions a{
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 1rem;
}

.header-directions-arrow{
    filter: invert(1);
    top: 6px;
    bottom: 0px;
    position: relative;
}


@media only screen and (max-width:768px){
    #intro-gui h1{
        font-size: 3rem;
    }
    #intro-gui h2{
        font-size: 1rem;
    }

    .header-directions{
        margin-top: 45%;
        
    }
}


/* ----------------ABOUT ------------- */

.about{
    margin-left: 5%;
    margin-right: 5%;
    display: inline-block;
    width: 200vw;
   
  
}





.about-column-left{
    display: inline-block;
    width: 50vw !important;
    height: 100%;
    vertical-align: top;
    
    margin-right: 2vw;
    
    
}

.about-column-center{
    display: inline-block !important;
    width: 100vw !important;
    height: 100%;
    vertical-align: top;
  
    
}


.about-column-right{
    display: inline-block;
    width: 50vw !important;
    height: 100%;
    vertical-align: top;
    margin-left: 2vw;
    
}

.about-image{
    width: 95vw;
    height: auto;
    max-height: 50%;
    margin-top: 15%;
}

.about-header{
    font-size: 4rem;
    color:#2834c5;
    margin-top: 15%;
    
}

.techstack-header{
    font-size: 4rem;
    color:#2834c5;
    margin-top: 15%;
    text-align: right !important;
}

.about table{
    table-layout: fixed;
    width: 45vw;
    border: 1px solid;
    text-align: center;
    
}

.about th,td{
    border: 1px solid;
    font-size: 1rem;
    white-space: normal;
    word-wrap: break-word;
}

.techstack-icon{
    vertical-align: bottom;
    width: 100%;
    height: 100%;
    max-width: 50px;
}

.about p{
    width: 90%;
    text-align: justify;
}

#about-description{
    height: 100%;
    padding-bottom: 30%;
}

.about em{
    font-style: normal;
    color:#5661e6;
}


@media only screen and (max-width:768px){
    .about{
        
        margin-left: 10%;
        margin-right: 10%;
    }

    .about-header{
        margin-top: 5vh;
        font-size: 6vw !important;
    }
    .techstack-header{
        margin-top: 5vh;
        font-size: 6vw !important;
    }
    .about p{
        font-size: 2.5vw;
    }

}


/* ----------------PROJECTS ------------- */

.projects{
    background-color: #5661e6;
    width: 100vw;
    /* background-image: url(../images/background.webp); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    
}

.project-header{
    margin-left: 5%;
    font-size: 4rem;
    color:white;
    margin-top: 9%;
}



.tile{
    display: none;

  
    
}

.active-tile{
    display: inline-block !important;
    margin: 0 auto;
    width: 70vw;
    margin-left: 15%;
    margin-bottom: 50%;
    height: 50vh;
    border: 1px solid black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    background-color:#2834c5;
    
    
}

@keyframes previous-image {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    70% {
      transform: scale(1.1);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

@keyframes visible {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
   }


.project-number{
    display: none;
}

.tile-title{
    color: white !important;
    margin-left: auto;
    margin-right: auto;
    text-align: center;


    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    margin-block-start: 0;
    margin-block-end: 0;
    padding-top: 5%;
    padding-bottom: 5%;
    animation: visible 2s; 
}



.project-description{

    color: white;
    height: 80%;
  

    overflow: hidden;
    position: relative;
    width: 100%;
 
}

.text-section{
    width: 60%;
    display: inline-block !important;
    height: 100% !important;
    /* padding-left: 5%;
    padding-right: 2,5%;
    padding-top: 5%; */

    position: absolute;
    left: 0;
    top: 0;
    animation: visible 2s; 

  

    
}

.text-section p{
    padding-left: 5%;
    padding-right: 5%;
    text-align: justify;
    width: 80%;

}

.image-section{
    display: inline-block !important;
    height: 100%;
    width: 20%;
    position: absolute;
    left: 60%;
    animation: previous-image 0.5s; 
}

.image-section img{
    width: 100%;
    padding-top: 25%;
}

.arrow-section{
    display: inline-block !important;
    margin-block-start: 0;
    margin-block-end: 0;
    
    width: 20%;
    height: 100% !important;
    padding-left: 5%;
    padding-right: 2,5%;
   

    position: absolute;
    left: 80%;
  
 
    
    
  }
  


.arrow{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 40px;
    max-width: 60px;
    height: 40%;
    width: 60%;
    display: block;
    margin-bottom: 5%;
    background-color: transparent;

    border-width: 0px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    padding-left: 5%;
    padding-right: 5%;
   

}

.arrow:hover{
    height: 45%;
    width: 65%;
    max-height: 45px;
    max-width: 65px;
    filter: invert(1);
}



.arrow-up{
    background-image: url('../icons/arrow_up.png');
    margin-top: 20% !important;

}
  
.arrow-down{
    background-image: url('../icons/arrow_down.png');
    margin-top: 45%;
}

.project-links{
    padding-left: 5%;
    padding-right: 5%;
}

.tile-icon{
    padding-left: 2%;
    
    height: 20px;
    filter: invert(1);
    top: 6px;
    bottom: 0px;
    position: relative;
}

.first-project-link{
    padding-left: 0 !important;
}

#tile-two{
    background-color: pink!important;
}

#tile-tree{
    background-color: orange !important;
}
  
