/* stylesheet for GUI */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

/* ----------------STYLE CHANGES NECCESSARY FOR CHANGING FROM TERMINAL TO GUI ------------- */


#header-dark{
    display: none;
}

#header-light{
    display: none;
}

.user{
    display: none;
}

.location{
    display: none;
}

.lightmode{
    display: none;
}

.darkmode{
    display: none;
}

#input-form{
    display: none;
}

#error1{
    display: none;
}

#input{
    display: none;
}

#introMessage{
    display: none;
}

.navbar-dark-mode{
    display: none;
}

/* ----------------GENERAL ------------- */

html,body{
 

    width: 100vw;
    height: 100vh;
}
  
body{
    background-color: whitesmoke;
    color: black;
    overflow-y: hidden;
    white-space: nowrap;
    margin: 0;
    
    
    
  
}

main{
    height: 100vh;
    width: 100%;

}


div{
    display: inline-block;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    
  
  

    
  
}

p{
    width: inherit;
    word-wrap: break-word;
    white-space: pre-wrap;
}


/* ----------------HEADER ------------- */

#intro-gui{
    background-image: url(../images/background.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;



}

#intro-gui h1{
    font-family: 'Noto Sans', sans-serif;
    color: white;
    font-size: 10rem;
   text-transform: uppercase;
   text-align: center;
   margin-top: 5%;
}