

/* ----------------DARK MODE ------------- */



body {
    cursor: '█';
    padding: 25px;
    background-color: black;
    color: white;
    font-size: 25px;
    font-family: "Fira Mono", monospace;
  }
  
  .dark-mode {
 
    background-color: white;
    color: black;


}

/* ----------------HEADER ------------- */

pre{
  color: yellowgreen
}



/* ----------------INPUT ------------- */

input {
    color: white;
    background-color: transparent;
    /* color: transparent; */
    border: none;
    box-shadow: none;
    caret-color: greenyellow;
    
}


.user{
  color: greenyellow;
}

.location{
  color: lightblue
}

input:focus {outline:none!important;}


/* ----------------typewriter effect ------------- */

/* span {
  border-right: .05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
} */


