/*color scheme: https://docs.microsoft.com/en-us/windows/terminal/customize-settings/color-schemes*/



/* ----------------GENERAL ------------- */

em{
  font-style: normal;
  /* color: #C19C00 */
  color: #3A96DD; /*cyan*/
}

.command-instructions{
  color: #B4009E;
}

.user{
  color: #16C60C; /*bright green*/
}

.location{
  color: #3B78FF;
  /* color: lightblue */
}

/* ----------------DARK MODE ------------- */



body {
    cursor: '█';
    padding: 25px;
    background-color: black;
    color: #CCCCCC;
    font-size: 25px;
    font-family: "Fira Mono", monospace;
}


  
.dark-mode {
 
    background-color: white;
    color: black;


}

/* ----------------HEADER ------------- */

pre{
  color: #16C60C; /*bright green*/
}



/* ----------------INPUT ------------- */

input {
    color: white;
    background-color: transparent;
    /* color: transparent; */
    border: none;
    box-shadow: none;
    caret-color: #16C60C; /*bright green*/
    
}




input:focus {outline:none!important;}

/* ----------------ABOUT ------------- */

.about{
  display: none;
}



/* ----------------PROJECTS ------------- */

.projects{
  display: none;
}