

/* ----------------DARK MODE ------------- */

body {
    padding: 25px;
    background-color: white;
    color: black;
    font-size: 25px;
  }
  
  .dark-mode {
    background-color: black;
    color: white;
}

input {
    background-color: transparent;
    /* color: transparent; */
    border: none;
    box-shadow: none;
    /* caret-shape: block;
    caret-color: black; */

    
}

input:focus {outline:none!important;}